/*-----------------------------------------------------------------------------
- CALL_TO_ACTIONS
-----------------------------------------------------------------------------*/

.tiny-size-icon {
    border: 1px solid $pagination_item_border_color;   
    color: #e6e6e6;
    display: block ! important;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px;
	
	&.active,
    &:hover {
        color: $pagination_active_item_border_color;
		border: 1px solid $pagination_active_item_border_color;
    }

}

