//sidebar
$caret-size: 19px;

.panel-group {
	margin-bottom: 55px;

	.panel-group-heading {
		border-bottom: 2px solid $color23;
		height: 33px;
		
		.title {
			color: #787878;
			font-family: $font-secondary;
			font-size: 16px;
			font-weight: bold;
			line-height: 1;
			margin: -2px 0 0 0;
			position: relative;
		}
			
		a.toggle {
			display: block;
			height: 16px;
			margin-top: -8px;
			position: absolute;
			right: 8px;
			text-align: center;
			text-decoration: blink;
			top: 50%;
			width: 16px;
		}
	}


	
	
	.panel-group-body {
		margin-top: 18px;
					
		.checkbox-list {
			margin: 0;
			padding: 0;
			
			li {
				padding: 8px 0 .1px;
				
				.checkbox-text {
					margin-left: 5px;
				}
			}
		}
	}
	
	.panel {
		border: 0;
		border-radius: 0;
		box-shadow: none;
		
		&>.panel-heading {
			background-color: white;
			position: relative;
			border-bottom: 1px solid $color-input-border;
			padding-left: 10px;
			padding-bottom: 9px;
			
			h5 {
				color: #9e9e9e;
				font-family: $font-primary;
				font-size: 14px;
			}
			
			a.toggle {
				display: block;
				height: $caret-size;
				line-height: $caret-size;
				margin-top: -10px;
				position: absolute;
				right: 2px;
				text-align: center;
				text-decoration: blink;
				top: 50%;
				width: $caret-size;
				
				i {
					line-height: $caret-size;
				}
			}
		}
		
		.panel-body {
			border: none !important;
			border-bottom: 1px solid $color-input-border !important;
			padding: 10px 15px;
			
			ul {
				padding-left: 5px;
				
				li {
					padding-bottom: 4.5px;
					padding-top: 4px;
				}
			}
			
			a {
				color: #9e9e9e;
				font-family: $font-primary;
				font-size: 14px; 
			}
		}
	}
}

	