
/*-----------------------------------------------------------------------------
- SELECTS
-----------------------------------------------------------------------------*/

select.bs-select-hidden {
    display: none;
}

.dropdown-menu {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #333;
    min-width: 180px;
    padding: 5px 0px;
}

.dropdown-header:first-child {
    margin-top: 5px;
}

.dropdown-menu > li {
    margin-bottom: 1px;
    position: relative;
}

.dropdown-header {
    color: $color-light;
    font-size: 11px;
    line-height: 1.82;
    margin-top: 10px;
    padding: 8px 15px;
    text-transform: uppercase;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background-color: #2196F3;    
    color: #FFF;
    outline: 0px none;
    text-decoration: none;
}

.dropdown-menu > li > a {
    padding: 8px 15px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus,
.close:focus,
.close:hover,
.dropdown-menu > li > a,
.form-control:focus,
.nav > li > a:focus,
a,
a:focus,
button,
input,
input[type="radio"]:focus, input[type="checkbox"]:focus,
input[type="file"]:focus, textarea {
    outline: 0px none;
}

.bootstrap-select {
    height: 32px;
    
    .btn-default span {
        color: $pagination_item_color;    
    }
	
    select {
		display: none;
	}
	
    &.btn-group .dropdown-menu.inner {
        border: 0px none;
        border-radius: 0px;
        box-shadow: none;
        margin: 0px;
        padding: 0px;
        position: static;
    }

    &.btn-group .dropdown-menu {
        min-width: 100%;
    }

    &.btn-group .dropdown-menu > li > a .text, &.btn-group.show-tick .dropdown-menu > li.active a .check-mark {
        display: inline-block;
    }

    &.btn-group .dropdown-menu > li > a .check-mark {
        display: none;
        margin-right: 0px;
        margin-top: -11px;
        right: 10px;
        position: absolute;
        top: 50%;
    }

    &.btn-group .dropdown-toggle .bs-caret .caret {
        border: none;
		color: $color24;
		height: 34px;
		position: absolute;
		right: 0;
        text-align: center;
		top: 2px;
		width: 34px;
		
		&:after {
			content: "\e824";
			display: block;
			font-family: 'pesto'; 
			font-size: 12px;
			line-height: 34px;
			@include icon-rotate(-90deg);
		}
	}

    &.type_sortby {
        .pull-left:before {
            content: "Sort By: ";
        }
		
		.pull-left {
			margin: 0;
		}
    }
    
    &.type_show {
        .pull-left:before {
            content: "Show: ";
            line-height: 1;
        }
    }
	
	& > .btn-default {
        border: 1px solid $pagination_item_border_color;
		color: $pagination_item_color;
        padding-left: 100px;
        padding-right: 29px;
        width: 100%;
		font-family: $font-primary;
		font-size: 14px;
		font-weight: normal;
		padding: 10.5px 32px 9.5px 14px;
		letter-spacing: 0;
		line-height: 1;
		
		&:active,
		&:hover,
		&:focus,
		&:hover:focus {
			background-color: transparent !important;
			outline: none !important;
			border-color: $pagination_active_item_border_color;
			
			.caret {
				color: #fff !important;
				background-color: $pagination_active_item_border_color;
				border-color: $pagination_active_item_border_color;
			}
		}
	}
}

div.select_show {
    .bootstrap-select {
		min-width: 120px;
		width: auto !important;
	}
}

div.select_sortby {
    .bootstrap-select {
		min-width: 190px;
		width: auto !important;
	}
}


