@import "config/common";
#contactForm {
    input {
        font-family: $font-secondary;
        font-size: 14px;
    }
    input[type="submit"]:not(:hover) {
        border-color: $color6;
    }
    label {
        color: $color58;
        font-family: $font-primary;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 1.4px;
        text-transform: uppercase;
    }
}

.content-footer {
    .aboutus & {
        padding-bottom: 31px;
        padding-top: 0;
    }
    a {
        font-size: 38px;
    }
    h4 {
        color: $color28;
        font-family: $font-secondary;
        font-size: 18px;
        letter-spacing: 1px;
        margin-top: 16px;
        margin-bottom: 15px;
    }
    
    .location,
    .details,
    .phone {
        padding-top: 10px;
        > div {
            color: $color-normal;
            font-family: $font-tertiary;
            font-size: 14px;
            padding: 5px 0;
        }
        > a {
            color: #e2e2e2;
        }
    }
    .details > a{
        font-size: 29px;
        line-height: 54px;
    }
}
.contactus.type1,
.contactus.type2,
.contactus.type3 {
    .content-main .review-customer {
         h3 {
            color: $color-dark;
            font: 25px $font-secondary;
            letter-spacing: 3px;
        }
    }
}
.contactus.type1,
.contactus.type2 {
    .content-footer {
        padding-bottom: 30px;
        .phone > div {
            padding: 5px 0 2px;
        }
    }
}
.contactus.type3 {
    .content-footer {
        padding-bottom: 41px; 
    }
}

.contactus.type1 {
    .content-footer {
        padding-top: 74px;
    }
    #google_map {
        margin-top: 40px;
    }
    .review-customer {
        margin-top: 40px;
        h3 {
            letter-spacing: 2.1px;
        }
        #contactForm .form-control {
            font: 15px $font-primary;
            padding-left: 19px;
            padding-right: 19px;
        }
        #contactForm textarea.form-control {
            padding: 13px 17px;
        }
    }
}

.contactus.type2,
.contactus.type3 {
    .content-main .review-customer {
        h3 {
            margin-bottom: 18px;
        }
    }
}

.contactus.type2 {
    .content-main .review-customer {
        padding-top: 24px;
        input[type="submit"] 
        {   
            height: 43px;
            margin-top: 25px;
            padding-left: 27px;
            padding-right: 27px;
        }
        textarea {
            height: 233px;
        }
    }
    #contactForm input {
        height: 44px;
        margin-bottom: 25px;
    }
    .content-footer {
        padding-top: 82px;
    }
}

.contactus.type3 {
    #contactForm input {
        height: 43px;
        margin-bottom: 23px;
    }
    .content-main .review-customer {
        padding-bottom: 47px;
        padding-top: 34px;
        input[type="submit"] {
             margin-top: 25px;
             padding-left: 27px;
             padding-right: 27px;
        }
        textarea {
            height: 233px;
        }
        .form-control {
            background-color: $color2;
        }
    }
    .content-footer {
        padding-top: 93px;
    }    
}

.aboutus {
    .product-functions {
        padding: 35px 0;
        .product-function {
            @include clearfix;
            padding: 15px 0;
            >div {
                float: left;
            }
            .function-mark {
                border: solid 1px $color15;
                border-radius: 50%;
                color: $color19;
                font-size: 20px;
                height: 75px;
                line-height: 75px;
                margin-top: 26px;
                text-align: center;
                width: 75px;
            }
            .function-comment {
                @include calc(width,"100% - 75px");
                padding-left: 25px;
                h2 {
                    color: $color16;
                    letter-spacing: 1.5px;
                }
                p {
                    color: $color3;
                    font: 13px 'Verdana';
                    letter-spacing: -0.14px;
                    line-height: 21px;
                    margin: 0;
                    padding: 2px 0px;
                }
            }
        }
    }
    .product-summary {
        .mark {
            background-color: transparent;
            color: $color14;
            display: block;
            font-size: 22px;
            margin-top: 40px;
            padding: 0;
        }
        .summary {
            color: $color71;
            font: lighter 20px $font-secondary;
            letter-spacing: 1.5px;
            line-height: 31px;
            margin: 4px auto;
            width: 55.04273504273504%;
        }
    }
    .short-about-us {
        padding: 50px 0;
        .image {
            text-align: center;
            img {
                max-width: 100%;
            }
        }
        .image-comments {
            h2 {
                color: $color-dark;
                letter-spacing: 1.3px;
                margin: 10px 0;
            }
            p {
                color: $color3;
            }
            
            .quote { 
                span i {
                    color: $color14;
                }
                p {
                    margin-bottom: 19px;
                    i{
                        color: $color14;
                    }
                }
            }
        }
    }
    .team {
        margin-bottom: 45px;
        padding: 45px 0;
        h4 {
            color: $color-dark;
            letter-spacing: 2.25px;
            margin-bottom: 28px;
            word-spacing: 1.2px;
        }
        .image {
            margin: 0 auto;
            padding: 24px 0;
            img {
                max-width: 100%;
            }
        }
        .image-comment {
            text-align: left;
            span {
                display: block;
                font: 14px $font-secondary;
            }
            .name {
                color: $color17;
                letter-spacing: 1.2px;
                margin-top: 1px;
                word-spacing: 1px;
            }
            .role {
                color: $color18;
                font-size: 14px;
                letter-spacing: 0.62px;
                padding: 8px 0;
            }
        }
    }
}
@media (max-width: 1169px ) {
    .aboutus .team .image-comment {
        display: inline-block;
        width: 270px;
    }
}
@media (min-width: 991px) {
    .map-container {
        .contactus.type1 & {
            padding-right: 10px;
        }
    }
}
